@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";
@import "variables";
$link-color: #8CB7E8;

form.delete-form {
	display: inline;
}
body {
	background-color:#0c223f;
	background-image:url(../images/crest_25.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	color:#000;
	padding-bottom: 50px; 
	background-attachment: fixed;
	padding-top:70px;
	
	@include respondto(phone, tablet-portrait) {
		padding-top: 0px;
		padding-bottom:0px;
	}
	
}
body.prep,
body.cranprep {
	background-color: #8cb7e8;
	background-image: url(../images/prep-crest-bg.png);
}
.navbar-right {
	li {
		a {
			color:#fff !important;
		}
	}
	li.prep {
		background: #8cb7e8;
		&:hover {
			background:darken(#8cb7e8, 10);
		}
	}
	li.senior {
		background: #0c223f;
		&:hover {
			background:lighten(#0c223f, 10);
		}
	}
}
.navbar-default {
	background-color: #000;
	border: none;
	
	.navbar-nav > .open > a,
	.navbar-nav > .open > a:hover,
	.navbar-nav > .open > a:focus {
		background-color:$maroon; 
	}
	.navbar-nav {
		.dropdown {
			a:hover {
				background-color: $maroon;
			}
			.dropdown-menu {
				background-color:$light-grey;
			}
		}
		
	}
}

.well {
	background: #8CB7E8;
	border-color: #8cb7e8;
	form {
		label {
			color:#0c223f;
		}
	}
	color:#000;
}
.btn-cranleigh {
	@include button-variant(#0c223f, #8cb7e8, #0c223f);
	font-weight: bold;
	font-size: 2em;
	border-width: 3px;
}

.strtoupper {
	text-transform: uppercase;
}
.jumbotron {
	background-color: transparent;
}

#page {
	background: rgba(12,34,63,0.8);
	@include bs(#000000);
	border-radius: 10px;
	@include respondto(phone, tablet-portrait) {
		border-radius: 0px;
	}

}

