$link-color: #8CB7E8;

@import '../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap';
@mixin bs($color) {
	-webkit-box-shadow: 0px 0px 15px 4px rgba($color, 0.75);
	-moz-box-shadow:    0px 0px 15px 4px rgba($color, 0.75);
	box-shadow:         0px 0px 15px 4px rgba($color, 0.75);	
}

@mixin respond-to($media) {
    /* Landscape phones and down */
    @if $media == phone {
        @media (max-width: 480px) { @content; }
    }
    /* Landscape phone to portrait tablet */
    @else if $media == tablet-portrait {
        @media (max-width: 767px) {@content; }
    }
    /* Portrait tablet to landscape and desktop */
    @else if $media == tablet-landscape-desktop {
        @media (min-width: 768px) and (max-width: 979px) { @content; }
    }
    /* Large desktop */
    @else if $media == large-desktop {
        @media (min-width: 1200px) { @content; }
    }
    // Non-Retina
    @else if $media == non-retina {
        @media screen and (-webkit-max-device-pixel-ratio: 1) { @content; }
    }
    // Retina Only
    @else if $media == retina {
        @media screen and (-webkit-min-device-pixel-ratio: 2) { @content; }
    }
    // Specific max width
    @else {
        @media only screen and (max-width: #{$media}px) { @content; }
    }
}
@mixin respondto($media...) {
    @each $mediatype in $media {
        @include respond-to($mediatype) {@content}
    }
}

body {
	background:#0c223f url(../images/crest_25.png) no-repeat 0 0;
	color:#fff;
	padding-bottom: 50px;
	padding-top:50px;
	background-attachment: fixed;
	
	@include respondto(phone, tablet-portrait) {
		padding-top: 0px;
		padding-bottom:0px;
	}
	
}
.well {
	background: #8CB7E8;
	border-color: #8cb7e8;
	form {
		label {
			color:#0c223f;
		}
	}
	color:#000;
}
.btn-cranleigh {
	@include button-variant(#0c223f, #8cb7e8, #0c223f);
	font-weight: bold;
	font-size: 2em;
	border-width: 3px;
}

.strtoupper {
	text-transform: uppercase;
}
.jumbotron {
	background-color: transparent;
}

#page {
	background: rgba(12,34,63,0.8);
	@include bs(#000000);
	border-radius: 10px;
	@include respondto(phone, tablet-portrait) {
		border-radius: 0px;
	}

}

